body{
    background-color: black;
    text-align: center;
}
p {
    color: black;
}
h1{
    font-style: initial;
}
.abelha{
    color: rgb(194, 19, 19);
}
.img1{
    width: fit-content;
} 